* {

    margin: 0;
    padding: 0;
}

body {

    background-image: url("wallpaperII.jpg");
    background-position: center;

}


.intro_div {

    /* border: 1px solid red; */
}

.ul_I {
    transition: 0.5s all ease;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid #898100;
    border-top: 5px solid #898100;
}

.ul_I:hover {

    background-color: #bfbfbf;
    opacity: 1;
}

.ul_I li {
    transition: 0.3s all ease;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    color: #898100;
}

.ul_I a {
    text-decoration: none;
    transition: 0.3s all ease;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    color: #898100;
}


.ul_I a:hover {
    text-shadow: 0px 17px 10px black;
    transform: scale(1.3);
}




.footer {
    transition: 1s all ease;
    width: 0px;
    overflow: hidden;
    margin-top: 10rem;
    background-color: #bfbfbf;
}

.contact_div {
    text-align: center;
}

.contact_div h1 {
    background-color: white;
    border: 3px solid #898100;
    cursor: pointer;
    font-weight: lighter;
    font-family: sans-serif;
    color: #898100;
}

.contact_ul {
    cursor: pointer;
    text-align: center;
    /* border: 1px solid green; */

}
    

.contact_ul li {
    transition: 0.4s all ease;
    /* font-weight: bold; */
    padding: 20px;
    color: black;
}

.contact_ul li:hover {
    font-weight: lighter;
    font-family: sans-serif;
    color: #898100;
}

/* slider */

.slider_section {
    margin-top: 20rem;
    /* border: 1px solid red; */
}


.text_div h1 {
    border: 3px solid #898100;
    transition: 0.5s all ease;
    cursor: pointer;
    padding: 10px;
    font-weight: lighter;
    text-align: center;
    background-color: #bfbfbf;
   color: #898100;
}

.text_div h1:hover {
    border: 3px solid #bfbfbf;
    font-weight: bold;
    background-color: #898100;
    color: #bfbfbf;
}

.slider_main {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.slider {
    cursor: pointer;
    transition: 0.3s all ease;
    opacity: 0.5;
    border-radius: 10px;
    border: 3px solid #898100;
    background-color: #bfbfbf;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 5rem;
    width: 37rem;
    /* height: 30rem; */
}

.slider:hover {
    
    transform: scale(1.1);
    opacity: 1;
}



.slider_title_div h2 {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    color: #898100;
    border-bottom: 3px solid #898100;
}

.slider_title_div h2 span {
    transition: 0.5s all ease;
    display: none;
}
.slider:hover span {
    font-size: 22px;
    display: inline-block;
    color: #6d0000;
}

.img_div {
    border-radius: 10px;
    border-bottom: 3px solid #898100;
}

.img_div img {
    width: 100%;
}



.desc_div h5 {
    font-weight: lighter;
    font-family: sans-serif;
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid black;
    font-size: 16px;
}

.button_div button {
    cursor: pointer;
    transition: 0.3s all ease;
    border-color: #bfbfbf;
    border-radius: 5px;
    padding: 8px;
    color: #898100;
    width: 100%;
}



.button_div:hover button {
    color: #bfbfbf;
    background-color: #898100;
}

.ul_I img{
    right: 30px;
    top: -25px;
    position: absolute;
    width: 60px;
    /* border: 1px solid green; */
}

.spec_li {
    position: relative
} 

.text_div_tag {

    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #593b04;
  }

  .cart_div_main {
    justify-content: center;
    display: flex;
    visibility: hidden;
    cursor: pointer;
    top: 0rem;
    position: fixed;
    width: 100%;
    /* background-color: #bfbfbf; */
    /* border: 1px solid red; */
  }

  .cart_div {
    position: absolute;
    border: 3px solid #898100;
    background-color: #bfbfbf;
  }

  .cart_div_icon {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #898100;

  }

  .cart_div_icon img {
    width: 60px;
    
  }

  .cart_div_icon h3 {
    top: 1rem;
    left: 0;
    position: relative;
    font-weight: bolder;
    font-family: sans-serif;
    color: #690303;
    
  }

  .cart_ray {
    padding: 10px;
    align-items: center;
    justify-content: left;
    display: flex;
    /* border: 3px solid #898100; */
  }

  .cart_ray h1 {
    margin-left: 2rem;
    font-weight: bold;
    color: #898100;
  }

  .cart_ray h3 {
    margin-left: 3rem;
    color: #593b04;
  }

  .cart_ray h2 {
    font-size: 18px;
    margin-left: 3rem;
    color: #898100;
  }

  .cart_buttons {
    display: flex;
    justify-content: center;
  }

  .cart_buttons button {
    transition: 0.5s all ease;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: sans-serif;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: #898100;
    color: white;
  }

  .cart_buttons button:hover {
    border: 2px solid #898100;
    color: #898100;
    background-color: white;
  }



@media screen and (max-width: 740px) {

    .ul_I {
        opacity: 1;
        background-color: #bfbfbf;
    } 

    .ul_I {
        opacity: 1;
        background-color: #bfbfbf;
    } 
    

    .ul_I img {
        top: 70px;
    }

    .ul_I li {

        display: block;
    }
    
    
  }




